version: "3"

services:
    orderer:
        container_name: orderer
        image: hyperledger/fabric-orderer:2.2
        environment:
            - FABRIC_LOGGING_SPEC=debug
            - ORDERER_GENERAL_LISTENADDRESS=orderer
            - ORDERER_GENERAL_LISTENPORT=7050
            - ORDERER_GENERAL_BOOTSTRAPMETHOD=file
            - ORDERER_GENERAL_BOOTSTRAPFILE=orderer.block
            - ORDERER_GENERAL_LOCALMSPID=OrdererMSP
            - ORDERER_GENERAL_LOCALMSPDIR=/etc/hyperledger/msp
            - GRPC_TRACE=all=true,
            - GRPC_VERBOSITY=debug
        working_dir: /opt/gopath/src/github.com/hyperledger/fabric
        command: orderer
        volumes:
            - ./msp/Orderer:/etc/hyperledger/msp
            - ./channel-artifacts/orderer.block:/etc/hyperledger/fabric/orderer.block
        ports:
            - 7050:7050
        networks:
            - default
    org1:
        container_name: org1
        image: hyperledger/fabric-peer:2.2
        environment:
            - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
            - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=iov-poc-ingress
            - CORE_PEER_ID=org1
            - CORE_PEER_ADDRESS=org1:7051
            - CORE_PEER_GOSSIP_EXTERNALENDPOINT=org1:7051
            - CORE_PEER_LOCALMSPID=Org1MSP
            - FABRIC_LOGGING_SPEC=INFO
            - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp

        volumes:
            - /var/run/:/host/var/run/
            - ./msp/Org1MSP:/etc/hyperledger/msp
        working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
        command: peer node start
        ports:
            - 7051:7051
            - 7053:7053
        depends_on:
            - orderer
        networks:
            - default

    org2:
        container_name: org2
        image: hyperledger/fabric-peer:2.2
        environment:
            - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
            - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=iov-poc-ingress
            - CORE_PEER_ID=org2
            - CORE_PEER_ADDRESS=org2:7051
            - CORE_PEER_GOSSIP_EXTERNALENDPOINT=org2:7051
            - CORE_PEER_LOCALMSPID=Org2MSP
            - FABRIC_LOGGING_SPEC=DEBUG
            - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp

        volumes:
            - /var/run/:/host/var/run/
            - ./msp/Org2MSP:/etc/hyperledger/msp
        working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
        command: peer node start
        ports:
            - 9051:7051
            - 9053:7053
        depends_on:
            - orderer
        networks:
            - default
    org3:
        container_name: org3
        image: hyperledger/fabric-peer:2.2
        environment:
            - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
            - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=iov-poc-ingress
            - CORE_PEER_ID=org3
            - CORE_PEER_ADDRESS=org3:7051
            - CORE_PEER_GOSSIP_EXTERNALENDPOINT=org3:7051
            - CORE_PEER_LOCALMSPID=Org3MSP
            - FABRIC_LOGGING_SPEC=DEBUG
            - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp

        volumes:
            - /var/run/:/host/var/run/
            - ./msp/Org3MSP:/etc/hyperledger/msp
        working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
        command: peer node start
        ports:
            - 11051:7051
            - 11053:7053
        depends_on:
            - orderer
        networks:
            - default
    cli:
        container_name: cli
        image: hyperledger/fabric-tools:2.2
        tty: true
        environment:
            - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
            - FABRIC_LOGGING_SPEC=DEBUG
            - CORE_PEER_ID=cli
            - CORE_PEER_ADDRESS=org1:7051
            - CORE_PEER_LOCALMSPID=Org1MSP
            - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp/Org1MSP
        working_dir: /opt/gopath/src/chaincodedev
        command: /bin/bash -c './scripts/init.sh'
        volumes:
            - /var/run/:/host/var/run/
            - ./msp:/etc/hyperledger/msp
            - ./:/opt/gopath/src/chaincodedev/
        depends_on:
            - orderer
            - org1
            - org2
            - org3
        networks:
            - default
networks:
    default:
        external:
            name: iov-poc-ingress
